.label, .label input {
	display: block;
	position: relative;
}

.input {
	text-align: end;
}

.button {
	text-align: center;
	width: 8rem;
}


.currency {
  position: absolute;
  top: 2.1rem;
  left: 0.8rem;
}

.stepper_container {
	margin:  2em 0 0 0;
}

.stepper_container p {
	height: 4.5rem;
}

.stepper_btn_container {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0 0 0;
}

.submit_info_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.submit_info_container *{
	margin-top: 1em;
}

.submit_info_container img {
	width: 10em;
}