@import '../../assets/colors.css';

.footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  border: none;
  background-color: var(--primary);
}

@media (min-width: 800px) {
  .footer {
    display: none;
  }
}