.main {
  padding: 5rem 2rem 1rem;
}

.balance {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0 2rem 0;
}

.history {
  position: relative;
  padding: 1rem 0 0 0;
  overflow: visible;
}

.history::after {
  top:0;
  background-color: black;
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
}