@import '../../assets/colors.css';

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.label, .label input {
	display: block;
	position: relative;
}

